{% extends 'master.html' %}
{% include 'header.html' %}

{% block title %} Add Student {% endblock %}

{% block body %}

<div class="container">

    <div>
        <div class="col-md-12 text-center"> <h3>Create Data</h3> </div>
    </div>

    <form method="post" action="">
    <table class="table">
        <tr>
            <td>First Name</td>
            <td><input type="text" name="first_name" class="form-control"></td>
        </tr>

        <tr>
            <td>Last Name</td>
            <td><input type="text" name="last_name" class="form-control"></td>
        </tr>

        <tr>
            <td>Email</td>
            <td><input type="text" name="email" class="form-control"></td>
        </tr>

        <tr>
            <td>Password</td>
            <td><input type="text" name="password" class="form-control"></td>
        </tr>

        <tr>
            <td>Gender</td>
            <td>
                Male: <input type="radio" name="gender" value="male">
                Female: <input type="radio" name="gender" value="female">
            </td>
        </tr>

        <tr>
            <td>Hobbies</td>
            <td>
                Sporty: <input type="checkbox" name="hobbies" value="sporty">
                Geek: <input type="checkbox" name="hobbies" value="geek">
                Wibu: <input type="checkbox" name="hobbies" value="wibu">
            </td>
        </tr>

        <tr>
            <td>Country</td>
            <td>
            <select name="country" class="form-control">
                <option value="china">China</option>
                <option value="indonesia">Indonesia</option>
                <option value="spanyol">Spanyol</option>
            </select>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" name="submit" value="Submit" class="btn btn-warning">
            </td>
        </tr>

    </table>

    </form>

</div>

{% endblock %}